#buddy {
	min-width: 270px;
	max-width: 500px;
	width: 100%;
	color: #ABB7B7;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.w-470 {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	min-width: 470px;
}
.w-270 {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	min-width: 270px;
}

.box {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.box__score {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	border-top: 1px solid #eee;
}
.box__score .title {
	font-weight: 600;
	color: #F2784B;
	font-size: 15px;
}
.box__score .progress {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.box__list {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.box__list .form-group > div select.form-control.error {
	border-color: #e74c3c;
	color: #e74c3c;
}
.box__list ul {

}
.box__list ul > li {

}
.box__list ul.list-unstyled {
	padding-top: 10px;
}
.box__list ul > li button {
	font-size: 0.8em;
	outline: none;
}
.box__title h4 {
	color: #6C7A89;
}
.box__weekend {

}
.box__weekend-gif {
	padding: 5px 0px 10px;
}
.box__title i {
	color: #EF4836;
}
.box__lastvote {
	font-size: 12px;
	color: #cecece;
}
.box__message {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	padding: 5px 10px;
	margin: 0px -15px;
	background: #eee;
	color: #323232;
}
.box__message i {
	margin-right: 5px;
}
.box__buttons {

}
.box__buttons__btn-vote {
	color:  #ABB7B7;
}
.box__buttons__btn-vote:hover {
	text-decoration: none;
	color: #6C7A89;
}
.box__buttons__btn-vote_img {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	width: auto;
	height: 50px;
}
.box__buttons__btn-vote:hover .box__buttons__btn-vote_text {
	margin-top: 4px;
}
.box__buttons__btn-vote_text {
	font-weight: 600;
	margin-top: 5px;
	letter-spacing: 0.9px;
	height: 15px;
}
/* buttons */
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
}

.btn-success,
.btn-success:hover,
.btn-success:active:hover, .btn-success.active:hover, .open>.dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open>.dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open>.dropdown-toggle.btn-success.focus,
.btn-success:hover, .btn-success:focus, .btn-group.open .dropdown-toggle.btn-success {
	color: #ffffff;
	background-color: #2ECC71;
	border-color: #208C4E;
}