html, body {
	min-width: 330px;
	width: 100%;
}

.box {

}
.box__list ul {

}
.box__list ul > li {

}
.box__list ul.list-unstyled {
	padding-top: 10px;
}
.box__list ul > li button {
	font-size: 1.4em;
	outline: none;
}

.box__lastvote {
	font-size: 12px;
	color: #cecece;
}

/* buttons */
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
}