<!DOCTYPE html>
<html>

<head lang="pt-br">
  <meta charset="UTF-8">
  <title>Buddy</title>
  <link rel="stylesheet" type="text/css" href="../vendor/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../style.css" />
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div id="buddy">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">

            <template v-if="loading">
              <div class="loading text-center">
                <h4> <i class="fa fa-spinner fa-spin fa-lg fa-fw"></i> Enviado...</h4>
              </div>
            </template>

            <template v-else-if="weekend == true">
                <div class="box__weekend">
                    <h4>Tenha um bom fim de semana!</h4>
                    <div class="box__weekend-gif">
                      <img class="img-responsive" :src="gif.image_url" alt="">
                    </div>
                </div>
            </template>

            <template v-else>
              <div class="box__list" :class="{'w-470': vote == false && firstLogin == false}">
                <template v-if="firstLogin == true">
                  <ul class="list-unstyled">
                    <li>
                      <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Empresa</label>
                        <div class="col-lg-10">
                          <input type="text" class="form-control" v-model="company" disabled>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Nome</label>
                        <div class="col-lg-10">
                          <input type="text" class="form-control" placeholder="Nome e Sobrenome" v-model="name">
                        </div>
                      </div>
                      <div class="form-group">
                       <label for="inputEmail" class="col-lg-2 control-label">Setor</label>
                       <div class="col-lg-10">
                        <select class="form-control" id="select" v-model="sector" placeholder="Escolha seu setor">
                          <option disabled>Escolha seu setor</option>
                          <option>Produto & Infra TI</option>
                          <option>Projetos</option>
                          <option>Customer Experience</option>
                          <option>Suporte</option>
                          <option>DI</option>
                          <option>Inteligência Comercial & Qualificação</option>
                          <option>Marketing</option>
                          <option>Op. Online</option>
                          <option>Op. Local</option>
                          <option>Risco</option>
                          <option>Finanças</option>
                          <option>CS - Costumer Success</option>
                          <option>RH - Gente & Gestão</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-10">
                        <button type="button" class="btn btn-success btn-block btn-md" v-on:click="login">Salvar</button>
                      </div>
                    </div>
                  </li>
                </ul>
              </template>
              <template v-else>

                <template v-if="vote == false">
                  <div class="box__title">
                    <h4>Olá <b>{{title}}</b>, Como está seu dia?</h4>
                  </div>
                  <ul class="list-inline box__buttons">
                    <li>
                      <button type="button" class="btn btn-link box__buttons__btn-vote" value="1" v-on:click="send(1)">
                        <img src="../images/sad.png" alt="" class="box__buttons__btn-vote_img">
                        <div class="box__buttons__btn-vote_text">
                          tristinhx
                        </div>
                      </button>
                    </li>
                    <li>
                      <button type="button" class="btn btn-link box__buttons__btn-vote" value="2" v-on:click="send(2)">
                       <img src="../images/maybe.png" alt="" class="box__buttons__btn-vote_img">
                       <div class="box__buttons__btn-vote_text">
                        levando
                      </div>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="btn btn-link box__buttons__btn-vote" value="3" v-on:click="send(3)">
                      <img src="../images/humm.png" alt="" class="box__buttons__btn-vote_img">
                      <div class="box__buttons__btn-vote_text">
                        humm...
                      </div>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="btn btn-link box__buttons__btn-vote" value="4" v-on:click="send(4)">
                      <img src="../images/in-love.png" alt="" class="box__buttons__btn-vote_img">
                      <div class="box__buttons__btn-vote_text">
                        amando
                      </div>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="btn btn-link box__buttons__btn-vote" value="5" v-on:click="send(5)">
                      <img src="../images/happy.png" alt="" class="box__buttons__btn-vote_img">
                      <div class="box__buttons__btn-vote_text">
                        só alegria
                      </div>
                    </button>
                  </li>
                </ul>
                </template>
                <template v-else> <!-- vote == true -->
                <div class="box__title">
                  <h4>Obrigado pelo feedback! Lindx! <i class="fa fa-heart" aria-hidden="true"></i></h4>
                  <span class="box__lastvote">Último voto: {{lastVote.day}}</span>
                </div>
                </template>
            </template> <!-- v-else -->
          </template>

        </div> <!-- box__list -->
      </div> <!-- box -->
    </div>
  </div>
</div> <!-- container -->
</div> <!-- buddy -->
<script src="../vendor/firebasev4.4.0.js"></script>

<script src="../vendor/jquery.min.js"></script>
<script src="../vendor/vue.min.js"></script>
<script src="../vendor/moment.js"></script>
<script src="../vendor/pt-br.js"></script>

<script src="../scripts/popup.js"></script>

</body>
</html>