.custommessage {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	.custommessage__title {
		margin-bottom: 35px;
		font-size: 35px;
	}
	.custommessage__dashboard {
		
	}
	.custommessage__dashboard__card {
		border-bottom: 2px solid #eee;
		padding-bottom: 10px;
		margin-bottom: 5px;
		.card-title {
			text-align: center;
			font-weight: 600;
			color: #999;
			font-size: 20px;
			margin-bottom: 10px;
		}
		.card-body {
			padding: 0px 15px;
			.title {
				text-align: center;
				font-weight: 500;
			}
			.month {
				h5 {
					text-transform: capitalize;
					font-style: italic;
					font-weight: 300;
					color: #323232;
					padding: 0px 15px;
				}
			}
		}
	}
}