.custommessage {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	.custommessage__title {
		margin-bottom: 35px;
		font-size: 35px;
	}
	.custommessage__dashboard {
		.title {
			
		}
	}
}