.painelcontrole {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	.painelcontrole__title {

	}
	.painelcontrole__dashboard {
		
	}
}